@import "tailwindcss";

body {
  @apply bg-zinc-50 text-zinc-900 antialiased;
}

/* subtle scrollbar (Notion-like) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 8px;
}